<!DOCTYPE html>
<html>

<head>
  <title>Result</title>
  <%= stylesheet_link_tag 'game', media: 'all' %>
</head>

<body>
  <h1>Result</h1>
  <p><%= @message %></p>
  <%= link_to 'Play Again', play_game_path %>
</body>

</html>
