<h1>Order List of fruits</h1>

<ol>
    <% @fruits.each do |fruit|%>
    <li><%= fruit %></li>
    <%end%>
</ol>

<h1>Unordered List of fruits</h1>

<ul>
<% @fruits.each do |fruit|%>
  <li><%= fruit %></li>
  <%end%>

</ul>